*{
  background-color: rgb(222,227,216);
}

.doughnut {
    border: 100px solid rgba(1,158,153,.9);
    border-radius: 200px;
    height:200px;
    width:200px;
    position: absolute;

}

.doughnut2 {
    border: 100px solid rgba(229,2,141,.9);
    border-radius: 200px;
    height:200px;
    width:200px;
    position: absolute;
    top: 100px;
    mix-blend-mode: multiply;
}

.donutbox{

}
